.env
enterprise/*
!enterprise/README.md
config/odoo.conf.runtime
config/odoo.prod.conf.runtime
nginx/odoo.conf.runtime
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
*.egg-info/
.DS_Store
backups/**
!backups/.gitkeep
config/odoo.conf.local
certs/
logs/
live1/fingerprint.runtime.json
