.env
enterprise/*
!enterprise/README.md
config/odoo.conf.runtime
config/odoo.prod.conf.runtime
nginx/odoo.conf.runtime
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
*.egg-info/
.DS_Store
backups/*.sql
backups/*.dump
backups/*.gz
backups/*.tgz
backups/*.tar
backups/*.zip
!backups/.gitkeep
config/odoo.conf.local
certs/
logs/
